server:
  port: 9093

spring:
  cache:
    type: caffeine
    caffeine:
      spec: maximumSize=1000,expireAfterWrite=10m
  datasource:
    url: jdbc:postgresql://localhost:9090/home-planner
    username: hp
    password: elo
    driver-class-name: org.postgresql.Driver
  
  webflux:
    base-path: /api/v1

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

springdoc:
  swagger-ui:
    enabled: true
  api-docs:
    enabled: true