server:
  port: 9093
spring:
  datasource:
    url: jdbc:postgresql://localhost:9090/home-planner
    username: hp
    password: elo
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

springdoc:
  swagger-ui:
    enabled: true
  api-docs:
    enabled: true