name: CI Pipeline

on:
  pull_request:
    branches: [ "master" ]
  push:
    branches: [ "master" ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle
    
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    
    - name: Run tests
      run: ./gradlew test
    
    - name: Generate JaCoCo Report
      run: ./gradlew jacocoTestReport
    
    - name: Check code coverage
      run: ./gradlew jacocoTestCoverageVerification
    
    - name: Upload JaCoCo coverage report as artifact
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: jacoco-report
        path: build/jacocoHtml/

